@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');
body{
  background-color: #2b2d42 ;
  color: #edf2f4;
  font-family: 'Cabin', sans-serif;
}

.App {
  text-align: center;
}


.todoBg {
  background-color: #8d99ae;
  border-radius: 6px;
  margin-bottom: 20px;
  padding: 10px 140px 10px 15px;
  text-align: left;
  font-size: 22px;
  position: relative;
}
.todoBg div {
  display: flex;
  align-items: center;
}
.todoBg .done .todoText {
  text-decoration: line-through;
  opacity: 0.5;
}
.todoBg .todoText {
  flex: 1;
}
.todoBg .iconsWrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: auto;
  display: inline-block;
}

.todoBg .iconsWrap span {
  display: inline-block;
  margin: 0px 10px 0 10px;
  cursor: pointer;
  color: #2b2d42;
}

.todoBg .iconsWrap span:hover {
  color: azure;
}
.mr-20 {
  margin-right: 20px;
}
.btn{
  background-color: #8d99ae;
}